.enroll-form {
  width: 50%;
  margin: 4rem auto;
  padding: 1rem;
  background-color: var(--color-primary);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  gap: 1rem;
}

.form-group-label {
  /* font-size: 2rem; */
  text-transform: capitalize;
  font-weight: 700;
}

.form-group-input {
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
}

.form-group-input::placeholder {
  font-style: italic;
  font-weight: 500;
}

.track-enrol-btn {
  border: none;
  display: block;
  outline: none;
  width: 100%;
  background-color: var(--color-header);
  padding: 1.5rem 2rem;
  font-weight: 700;
  font-size: inherit;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s;
}

.track-enrol-btn:hover {
  color: var(--color-primary);
}
