.footer-section {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 2rem 0;
}

.footer-text {
  color: var(--primary-color);
  font-size: 1.8rem;
  text-align: center;
  padding: 2rem 0;
  background-color: var(--secondary-color);
}

.footer-text h6 {
  margin-top: 1rem;
  /* padding: 1rem; */
  /* font-size: 2rem; */
}
a {
  text-decoration: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
