
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
  --primary-color: #fefffe;
  --secondary-color: #f7bb28;
 --tertiary-color: #6fbbb0;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}


/* my webpage colors */


body{
  font-size: 1.6rem;
  font-family: 'Ubuntu', sans-serif;
}