@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-header: #9485be;
  --color-header-nav-list-link: #cab4ab;
  --color-primary: white;
  --color-secondary: #b1a199;
  --color-tertiary: #001125;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* my webpage colors */

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}
